.cart {
    cursor: pointer;
    position: relative;
    right: 30px;


}

.cart box-icon {
    width: 38px;
    height: 34px;

    ;

}

.cart span {
    position: absolute;
    top: -0.9rem;
    right: -1.0rem;
    width: 2.0rem;
    height: 1.9rem;
    opacity: 98%;
    border: 0.1px solid red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: crimson;

}


.imagen-tarjeta {
    height: 320px;
    width: 320px;
    object-fit: cover;
}

.imagen-tarjeta-home {
    height: 200px;
    object-fit: cover;
}

.card-test {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card-test:hover {
    transform: scale(1.05);
    background-color: #212529;
    color: #fff;
}